{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='page'>
  <div class='header'>
    {{#with header}}
      <header class='header__content'>
        <div class='header__block'>
          <img
            src='/svg/apple.svg'
            alt='Apple-icon'
            class='header__icon'
          />
          <nav class='header__block'>
            {{#each links}}
              <a
                href='{{url}}'
                class='header__link'
              >{{text}}</a>
            {{/each}}
          </nav>
        </div>
        <div class='header__block'>
          <img
            src='/svg/search.svg'
            alt='search-icon'
            class='header__icon'
          />
          <img
            src='/svg/profile.svg'
            alt='profile-icon'
            class='header__icon'
          />
        </div>
      </header>
    {{/with}}
	</div>

    {{#with iphone_pro}}
      <section class='product product-big product--iphone-pro product--dark product--top'>
        <div class='product__content'>
          <h1 class='product__title'>{{title}}</h1>
          <p
            class='product__description'
          >{{descriptions}}</p>
          <div class='product__action'>
            {{#with link}}
				{{#each text}}
					<a href="{{../link}}" class="product__link">{{this}}</a>
				{{/each}}
			{{/with}}
          </div>
        </div>
      </section>
    {{/with}}
  
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}